on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write

name: Build and Release

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org

      - name: Verify versions
        run: node --version && npm --version && node -p process.versions.v8

      - name: Enable Corepack
        run: corepack enable && corepack prepare yarn@4.7.0 --activate

      - name: Install dependencies
        run: yarn install

      - name: Build package
        run: yarn build

      - name: Release package
        run: npm publish --ignore-scripts --provenance