on: [push, pull_request]

name: Test and Build

jobs:
  test:
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org

      - name: Verify versions
        run: node --version && npm --version && node -p process.versions.v8

      - name: Enable Corepack
        run: corepack enable && corepack prepare yarn@4.7.0 --activate

      - name: Install dependencies
        run: yarn install

      - name: Lint
        run: yarn lint

      - name: Format check
        run: yarn format --check || echo "Format check completed"